$couleur-primaire: #2364AA;
$couleur-secondaire: #3DA5D9;
$couleur-bg: #ECEBE4;
$couleur-bg-secondaire: #c1c1c1;

/*-------------------extend-------------------*/
.font-p{
    font-family: 'oxygen', serif;
    font-size: 1rem;
}

.paragraphe{
    margin-top: 10%;
    background-color: $couleur-bg;
}

/*------------------general------------------*/
main, html{
    background-color: $couleur-bg;
}

p{
    @extend .font-p;
}
/*---------------navigation-----------------*/
.navbar{
    background-color: $couleur-primaire;
}

.partage ::after{
    content: url('../images/logofacebook.png');
}    

.nav-item{
    transition: 1s;
    &:first-child{
        border: 2px solid black; 
    }
    &:last-child{
        text-decoration: underline;
        color: $couleur-secondaire;
    }
    &:visited{
        color: #663366;
    }
    &:hover{
        transform: translateY(-10px);
        transition: 1s;
        color: #000000;
    }
}
.nav-link{
    text-decoration: none;
    text-align: right;
    font-size: 2rem;
    transition: 1s;
    color: #ffffff;
    font-family: 'antic slab', serif;
}

.custom-toggler .navbar-toggler-icon{
    background-color: #ffffff;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.form-control{
    border: none;
    &:focus{
        background-color: $couleur-bg;
    }
}

.input-group-text{
    background-color: #ffffff;
    max-height: 60%;
    max-width: 50%;
    margin: 3% 0 0 5%;
    border-radius: 20px;
    margin-bottom: 2%; 
}

/*-------------sidebar--------------------*/

.sidebar{
    background-color: $couleur-bg-secondaire;
    border: 1px solid black;
    padding: 0 2% 30% 2%;
    margin-bottom: 0;
    list-style-type: none;
    &__item{
        padding-top: 10%;
        transition: 1s;
    }
    &__item:hover{
        transform: translateX(10px);
        transition: 1s;
    }
    &__item > a{
        color: #000000;
        font-size: 1.5rem;
        font-family: 'antic slab', serif;
    }
}
/*-----------------Caroussel------------------------------*/
.carrousel{
    list-style-type: none;
}

.carte__img{
    margin-top: 5%;
    border-radius: 20px;
}

.boutons__point{
    border: 1px solid black;
    display: inline-block;
    border-radius: 50px;
    line-height: 40px;
    text-align : center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.7s;

    &:active{
        background-color: #000000;
        transition: all 0.7s;
    }
}

.texte-carrousel{
    @extend .paragraphe;

    &::first-letter{
        color: $couleur-primaire;
        font-weight: bold;
    }
}
/*-------------------table--------------------------------*/
.img-pays{
    max-width: 100px;
}

.table{
    background-color: $couleur-bg-secondaire;
    margin-bottom: 0;
    &__item{
        padding: 0;
        @extend .font-p;
    }
    &__item:nth-child(odd){
        font-weight: bold;
        font-size: 1.5rem;
    }
    &__item:nth-child(even){
        font-size: 2rem;
    }
    &--emphase::after{
        content: url('../images/heart.png');
    }
}

thead{
    background-color: $couleur-bg;
}
tr:nth-child(even){
        background-color: $couleur-secondaire;
    }

.explication-tableau{
    @extend .paragraphe;
    &::first-letter{
        font-weight: bold;
    }
}
  /*---------------------formulaire----------------------*/
  
h1{
    @extend .font-p;
    font-size: 2rem;
}

h2{
    @extend .font-p;
    font-size: 1.5rem;
}

.pays{
    margin-top: 2%; 
    color: #000000;
    background-color: #ffffff;
    
    &:hover{
        background-color: $couleur-bg-secondaire;
    }
 }

.optgroup-title{
      font-weight: bold;
      padding-left: 10%;
      @extend .font-p;
  }

.dropdown-item{
    @extend .font-p;
}

label{
    @extend .font-p;
}

textarea:focus{
    &:valid{
        border: #00FF00 1px solid;
    }
    &:invalid{
        border: #ff0000 1px solid; 
    }
}

input:focus{
    &:valid{
        border: #00FF00 1px solid;
    }
    &:invalid{
        border: #ff0000 1px solid;
    }
}

.obligatoire::after{
    content: "*"; 
    color: #000000;
    margin-left: .2em;
}

/*------------------footer---------------------*/

.footerbar{
    background-color: $couleur-primaire;
    padding: .5% 0 3% 0;
    @extend .font-p;
}

.text-center{
    color: #ffffff;
}