/*-------------------extend-------------------*/
.font-p, .footerbar, label, .dropdown-item, .optgroup-title, h2, h1, .table__item, p {
  font-family: "oxygen", serif;
  font-size: 1rem;
}

.paragraphe, .explication-tableau, .texte-carrousel {
  margin-top: 10%;
  background-color: #ECEBE4;
}

/*------------------general------------------*/
main, html {
  background-color: #ECEBE4;
}

/*---------------navigation-----------------*/
.navbar {
  background-color: #2364AA;
}

.partage ::after {
  content: url("../images/logofacebook.png");
}

.nav-item {
  transition: 1s;
}
.nav-item:first-child {
  border: 2px solid black;
}
.nav-item:last-child {
  text-decoration: underline;
  color: #3DA5D9;
}
.nav-item:visited {
  color: #663366;
}
.nav-item:hover {
  transform: translateY(-10px);
  transition: 1s;
  color: #000000;
}

.nav-link {
  text-decoration: none;
  text-align: right;
  font-size: 2rem;
  transition: 1s;
  color: #ffffff;
  font-family: "antic slab", serif;
}

.custom-toggler .navbar-toggler-icon {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.form-control {
  border: none;
}
.form-control:focus {
  background-color: #ECEBE4;
}

.input-group-text {
  background-color: #ffffff;
  max-height: 60%;
  max-width: 50%;
  margin: 3% 0 0 5%;
  border-radius: 20px;
  margin-bottom: 2%;
}

/*-------------sidebar--------------------*/
.sidebar {
  background-color: #c1c1c1;
  border: 1px solid black;
  padding: 0 2% 30% 2%;
  margin-bottom: 0;
  list-style-type: none;
}
.sidebar__item {
  padding-top: 10%;
  transition: 1s;
}
.sidebar__item:hover {
  transform: translateX(10px);
  transition: 1s;
}
.sidebar__item > a {
  color: #000000;
  font-size: 1.5rem;
  font-family: "antic slab", serif;
}

/*-----------------Caroussel------------------------------*/
.carrousel {
  list-style-type: none;
}

.carte__img {
  margin-top: 5%;
  border-radius: 20px;
}

.boutons__point {
  border: 1px solid black;
  display: inline-block;
  border-radius: 50px;
  line-height: 40px;
  text-align: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.7s;
}
.boutons__point:active {
  background-color: #000000;
  transition: all 0.7s;
}

.texte-carrousel::first-letter {
  color: #2364AA;
  font-weight: bold;
}

/*-------------------table--------------------------------*/
.img-pays {
  max-width: 100px;
}

.table {
  background-color: #c1c1c1;
  margin-bottom: 0;
}
.table__item {
  padding: 0;
}
.table__item:nth-child(odd) {
  font-weight: bold;
  font-size: 1.5rem;
}
.table__item:nth-child(even) {
  font-size: 2rem;
}
.table--emphase::after {
  content: url("../images/heart.png");
}

thead {
  background-color: #ECEBE4;
}

tr:nth-child(even) {
  background-color: #3DA5D9;
}

.explication-tableau::first-letter {
  font-weight: bold;
}

/*---------------------formulaire----------------------*/
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

.pays {
  margin-top: 2%;
  color: #000000;
  background-color: #ffffff;
}
.pays:hover {
  background-color: #c1c1c1;
}

.optgroup-title {
  font-weight: bold;
  padding-left: 10%;
}

textarea:focus:valid {
  border: #00FF00 1px solid;
}
textarea:focus:invalid {
  border: #ff0000 1px solid;
}

input:focus:valid {
  border: #00FF00 1px solid;
}
input:focus:invalid {
  border: #ff0000 1px solid;
}

.obligatoire::after {
  content: "*";
  color: #000000;
  margin-left: 0.2em;
}

/*------------------footer---------------------*/
.footerbar {
  background-color: #2364AA;
  padding: 0.5% 0 3% 0;
}

.text-center {
  color: #ffffff;
}

/*# sourceMappingURL=styles.css.map */
